#### Given an array of positive integers where all numbers occur even number of times except one number which occurs odd number of times. Find the number.

In [2]:
def find_number(integers):
    new_integers = [int(integer%2) for integer in integers]
    if new_integers.count(0) == 1:
        return integers[new_integers.index(0)]
    else:
        return integers[new_integers.index(1)]

In [5]:
find_number([2,4,6,3,8])

3

In [ ]:
  a=list(map(int, input().split()))
    d=Counter(a)
    for item in d:
        b=False
        if(d[item]%2!=0):
            print(item)
            b=True
            break
    if(b==False):
        print(0)

In [7]:
 ([2,4,6,3,8])

[2, 4, 6, 3, 8]

In [9]:
#Python3 code to demonstrate working of 
# Get all substrings of string 
# Using itertools.combinations() 
from itertools import combinations 
  
# initializing string  
test_str = "Geeks"
  
# printing original string  
print("The original string is : " + str(test_str)) 
  
# Get all substrings of string 
# Using itertools.combinations() 
res = [test_str[x:y] for x, y in combinations( 
            range(len(test_str) + 1), r = 2)] 
  
# printing result  
print("All substrings of string are : " + str(res))

The original string is : Geeks
All substrings of string are : ['G', 'Ge', 'Gee', 'Geek', 'Geeks', 'e', 'ee', 'eek', 'eeks', 'e', 'ek', 'eks', 'k', 'ks', 's']

In [24]:
def testgen(index):
    
    weekdays = ['sun','mon','tue','wed','thu','fri','sat']
    yield weekdays[index]
    yield weekdays[index+1]
    day = testgen(0)
    print(next(day), next(day))

NameError: name 'index' is not defined

### Q1

#### Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#### between 2000 and 3200 (both included).
#### The numbers obtained should be printed in a comma-separated sequence on a single line.

In [43]:
num = int(input("give me a number to check"))
if num%7 ==0:
    print(num, "is divisible by 7")
else:
    num%5 ==0
    print(num, 'is a multiple of 5')

give me a number to check3600
3600 is a multiple of 5

### Q2

#### Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [33]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print (','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### Question:
#### Write a program which can compute the factorial of a given numbers.
#### The results should be printed in a comma-separated sequence on a single line.

In [61]:
factorial

1

In [63]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 8
40320

### With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [67]:
n=int(input('input a number'))
d=dict()
for i in range(1,n+1):
    d[i]=i*i
    print(d)

input a number8
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

### Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:

In [68]:
def group_by_owners(files):
    return None
    
files = {
    'Input.txt': 'Randy',
    'Code.py': 'Stan',
    'Output.txt': 'Randy'
}   
print(group_by_owners(files))

None