## pandas.DataFrame.apply

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[4, 9],] * 3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [3]:
 df.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [4]:
df.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [5]:
df.apply(np.sum, axis=1)

0    13
1    13
2    13
dtype: int64

In [6]:
df.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [7]:
df.apply(lambda x: [1, 2], axis=1, result_type='expand')

   0  1
0  1  2
1  1  2
2  1  2

In [8]:
 df.apply(lambda x: pd.Series([1, 2], index=['foo', 'bar']), axis=1)

   foo  bar
0    1    2
1    1    2
2    1    2

In [9]:
df.apply(lambda x: [1, 2], axis=1, result_type='broadcast')

   A  B
0  1  2
1  1  2
2  1  2